.contactListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: F2F2F2;
    border: 2px solid #E6E6E6;
    border-radius: 10px;
    padding: 0 10px;
}

.contactListItem:not(:last-of-type) {
    margin-bottom: 5px;
}

.contactList {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    border: 2px solid #E6E6E6;
    border-radius: 10px;
}

p {
    margin: 5px 0;
    padding-right: 5px;
}